---
import Name from "../components/Name";
import Navigation from "../components/Navigation";
import Redirect from "../components/Redirect";
import Layout from "../layouts/Layout.astro";
// console.log(data.signedIn.user);
---

<Layout>
    <Redirect client:load />
    <div class="mx-auto p-8">
        <span>Hello <Name client:load /></span>
    </div>
</Layout>
