---
import type { log } from "astro/dist/core/logger/core";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col items-center">
        <label>
            Username:
            <input
                id="username"
                type="text"
                class="block rounded-lg bg-slate-200 px-2 py-1.5 shadow-sm shadow-slate-400 outline-none"
            />
        </label>
        <label>
            Weight:
            <input
                id="weight"
                type="number"
                class="block rounded-lg bg-slate-200 px-2 py-1.5 shadow-sm shadow-slate-400 outline-none"
            />
        </label>
    </div>
</Layout>

<script>
    import supabase from "../utils/supabaseClient.js";
    const inputUsername = document.querySelector(
        "#username"
    ) as HTMLInputElement;
    const userSession = await supabase.auth.getSession();
    inputUsername.value =
        userSession.data.session?.user.user_metadata.username || "";
    inputUsername.onchange = async (e) => {
        const target = e.target as HTMLInputElement;
        const { data, error } = await supabase.auth.updateUser({
            data: { username: target.value },
        });
    };

    const inputWeight = document.querySelector("#weight") as HTMLInputElement;
    const { data, error } = await supabase
        .from("users_weight")
        .select("weight")
        .order("timestamp", { ascending: false })
        .limit(1);
    inputWeight.value = data?.[0].weight;
    inputWeight.onchange = async (e) => {
        const target = e.target as HTMLInputElement;
        await supabase
            .from("users_weight")
            .insert([{ weight: target.value }])
            .select();
    };
</script>
