---
// print();

import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>test page</h1>
    <button>logout</button>
</Layout>

<script>
    import supabase from "../utils/supabaseClient.js";
    const button = document.querySelector("button");
    button?.addEventListener("click", async () => {
        const { error } = await supabase.auth.signOut();
        if (error) {
            throw error;
        }
    });
</script>
